.spacer {
  flex: 1 1 auto;
}

#menu-item button {
  display: block;
  margin: 0 auto;
}

.userName{
  margin: 0 10px 0 0;
  font-size: medium;
}

.my-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.my-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.my-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}